.checkBoxHeight{
    height: 49.5px !important;
}

.dialogContainerStyle {
    line-height: 45px;
}

.fake-separator {
    padding: 5px;
    border: 0px;
}

.fake-separator div {
    display: none;
}

.cellQuality {
    font-weight: bold;
}

.verticalLayoutCenter {
    text-align: center !important;
    align-content: center !important;
}

/*PAGINATION FOR TABLE*/
.page-box {
    display: inline-block;
    height: 15px;
    width: 15px;
    text-align: center;
    border: 1px solid silver;
    margin: 5px;
}

.page-box:hover, .current-page {
    background-color: #d8d8d8;
    cursor: pointer;
}

.current-page {
    color: white;
}

.chart1 {
    margin: 0 auto;
    margin-right: 0px;
}

.chart2 {
    margin: 0;
}

.chart3 {
    margin: 0;
}

.chart4 {
    margin: 0;
    margin-right: auto;
}

.radialLabel {
    text-align: center !important;
    font-weight: bolder !important;
    font-size: 20px !important;
}

.sapMTitleStyleAuto {
    font-size: 2.65rem !important;
    font-weight: bold !important;
}

.customTile {
    width: 22.5rem !important;
}

.customNumericContent {
    width: 15rem !important;
}

.homeBackground {
    background-image: url("/XMII/CM/ProductionMain/Home/images/seco_home_background.jpg") !important;
    /*-webkit-background-size: cover !important;*/
    /*-moz-background-size: cover !important;*/
    /*-o-background-size: cover !important;*/
    background-size: cover !important;
}

.underlineButton {
    text-decoration: underline;
}

.whiteTitle {
    color: #ffffff !important;
    font-weight: bold !important;
}

.customDashBoardSecoTile {
    width: 23rem !important;
    height: 30rem !important;
}

.CustomTileBorder {
    border: 0px solid white;
    padding: 5px;
    width: 19.5em !important;
}

.dbTileSize {
    height: 22.8rem !important;
/ / 20.8 width: 54 rem !important;
}

.BorderLine {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.iconAlign {
    margin-bottom: 0.5rem;
}

.customTile2 {
    width: 22.5rem !important;
    height: 35rem !important;
}

.customGrid {
    border: 2.5px solid #000000 !important;
    height: 35rem !important;
    width: 21rem !important;
}

.BorderLineTop {
    border-Top: 2px solid black;
    padding-Top: 2px;
}

.horizontalCustom {
    width: 90% !important;
}

.bulletMicroChartCustom {
    height: 5rem !important;
}

/*
** TIMILINE
*/
.day-segment {
    position: relative !important;
    height: 10px !important;
    background-color: #e6e6e6 !important;
}

.hour-description {
    position: absolute !important;
    top: -10px !important;
    font-size: 9px !important;
    width: 10px !important;
    height: 10px !important;
    z-index: 99999 !important;
}

.day-descriptor {
    height: 10px !important;
    width: 90px !important;
    display: inline-block !important;
    font-size: 9px !important;
    text-align: right !important;
    box-sizing: border-box !important;
    padding-right: 4px !important;
}

.day-event {
    box-sizing: border-box !important;
    border-right: 1px solid #e6e6e6 !important;
    position: absolute !important;
    height: 10px !important;
}

.day-chart {
    overflow: visible !important;
}

.day-chart .sapMPanelBGTranslucent.sapMPanelContent {
    display: none !important;
}

.RadialChartStyle {
    margin-left: 1.3rem !important;
    margin-right: auto !important;
}

.RadialChartCtrl {
    overflow: visible !important;
}

/*
** TILE ANALISI STATI LINEA
*/
.title-total {
    font-weight: bolder !important;
}

.tile-totals.tile-large {
    min-width: 200px !important;
}

.tile-totals .sapMGTContent {
    overflow-y: scroll !important;
}

.tile-totals .sapMGTHdrContent {
    height: auto !important;
    margin-bottom: 10px !important;
}

.list-tile-content .sapMObjLListModeDiv {
    padding: 0 !important;
}

.list-tile-content .sapMObjectNumberText {
    font-size: 18px !important;
}

/*
** DONUT CHART ANALISI STATI LINEA
*/
.inline-viz-chart {
    display: inline-block !important;
    margin-top: 0px !important;
}

.reasons-percentage {
    width: 415px !important;
}

.reasons-quantity .v-m-legendGroup {
    display: none;
}

/*
** Pivot
*/
.splitPaneColumns {
    width: 12% !important;
}